@tailwind base;
@tailwind components;
@tailwind utilities;

/* =====> drop down csss */
.MyDropdown:hover div {
  display: flex;
}

.item-shadow {
  box-shadow: rgb(0 0 0 / 14%) 0px 15px 50px 0px;
}

/* =====> shadows */
.filterShadow{
  box-shadow: 0px 2px 16px -5px rgba(0,0,0,0.75);
}
.Shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

/* ====> mui badge style */
.MuiBadge-badge {
  background-color: #23232c !important;
  color: white !important;
}

/* ===> html radio stye */
input[type="radio"] {
  -webkit-appearance: none; /* Remove default styling */
  -moz-appearance: none;
  appearance: none;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  outline: 2px solid black;
  outline-offset: 2px;
}

input[type="radio"]:checked {
  background-color: black;
}

/* ===> animated bottom line on hover */
.bottomLine::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 2px;
  left: 0;
  bottom: 0;
}
.bottomLine:hover::after {
  width: 100%;
  background-color: black;
}

.ThinScrollbar::-webkit-scrollbar {
  width: 3px;
  height: 1px;
}
.ThinScrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #e1e1f4;
  border-radius: 10px;
}

/* Handle */
.ThinScrollbar::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
  color: gray;
}
.HideScroll::-webkit-scrollbar {
  width: 3px !important;
  height: 0px !important;
}
.HideScroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #e1e1f4;
  border-radius: 10px;
}
.HideScroll::-webkit-scrollbar-thumb {
  background: gray;
  color: gray;
}


